/* src/game3.css */
.Game3 {
  text-align: center;
}

h1 {
  margin-top: 100px;
}

.word-box {
  font-size: 24px;
  margin: 20px;
}

.jumbled-word {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  border-radius: 1.5rem;
  color: white;
}

.correct-answer {
  color: green;
  font-weight: bold;
}

.wrong-answer {
  color: red;
  font-weight: bold;
}

input {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #6e2640;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.check_btn {
  margin-bottom: 100px;
}

.game3-over {
  color: white;
}
