/* src/game3.css */
.Game3 {
  text-align: center;
  margin-top: 100px;
}

.word-box {
  font-size: 24px;
  margin: 20px;
}

.jumbled-word {
  display: inline-block;
  padding: 10px;
}

.jumbled-word::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 5px; /* Adjust this value to control the spacing between characters and the underline */
}
.correct-answer {
  color: green;
  font-weight: bold;
}

.wrong-answer {
  color: red;
  font-weight: bold;
}

input {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #6e2640;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Game3-btn {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

.Game3-btn:hover {
  background-color: #0056b3;
}

.game3_info {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.game3_info h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.game3_info_score {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20rem;
}

.score_card {
  display: flex;
  background-color: rgb(75, 32, 32);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.game3_start {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  font-size: 3rem;
  padding-bottom: 100px;
}

.game3_start_btn {
  font-size: 1.5rem;
}
