.home > hr {
  width: 90%;
  margin: 0 auto;
}

/*                 Hero Section                 */
.home_main {
  background-color: var(--bg);
  height: 100vh;
  color: white;
}

.home_main_canvas {
  padding-left: 550px;
}

.home_main__container {
  height: 80vh;
  display: grid;
  align-items: end;
  grid-template-columns: 10% 70% 20%;
  position: relative;
  z-index: 10;
}

.home_main__container__left {
  display: flex;
  flex-direction: column;
}

.home_main__container__left__social {
  display: flex;
  margin: 10px 0;
}

.home_main__container__left__social a {
  display: inline-block;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
}

/* home_main__container__middle */
.home_main__container__middle__top,
.home_main__container__middle__bottom {
  margin: 20px 0;
}
.home_main__container__middle__top p {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--smallText);
}

.home_main__container__middle__hero h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 88px;
  color: var(--bigText);
}

/* home_main__container__right */
.home_main__container__right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}
.home_main__container__right_top {
  margin-bottom: auto;
  margin-top: 50px;
}
.home_main__container__right_bottom {
  margin-bottom: 20px;
}
.home_main__container__right_bottom
  > .home_main__container__right_bottom_number {
  font-size: 50px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  color: var(--bigText);
}

/*                Model Selection Section                */

.modelSection {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  /* grid-template-rows: auto; */
  /* align-items: center; */
  padding: 50px;
  margin: 100px 0;
  /* justify-items: center; */
}

.models {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.models > button {
  position: relative;
  display: block;
  overflow: hidden;
  padding: clamp(4rem, calc(6vw - 12px), 5rem);
  height: clamp(8rem, calc(20vw - 12px), 12rem);
  width: minmax(clamp(8rem, calc(20vw - 12px), 13rem), 100%);
  border: 2px solid #6e2640;
  margin: 0 10px 0 0;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.models > button > img {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  border-radius: 14px;
  overflow: hidden;
}

.models > button > p {
  padding: 10px;
  text-align: center;
  font-size: clamp(0.8rem, calc(1.5vw - 6px), 1rem);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  color: white !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--colorTextBody);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  text-transform: uppercase;
}
.models > button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.modelSection > div {
  margin-bottom: 50px;
}

.modelSection > div > p {
  font-size: clamp(1.2rem, calc(1.9vw - 6px), 2.2rem);
  text-align: center;
}

.modelSection .gifimg {
  /* padding: 0 169px; */
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
  margin-top: 20px;
  /* border: 1px solid black; */
  -webkit-box-shadow: 0px 0px 17px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 0px 17px 0px rgba(117, 117, 117, 1);
}

.modelSection p > span {
  font-size: clamp(1.4rem, calc(2vw - 6px), 2.5rem);
  font-weight: 700;
}

/* Bottom Body */

/* FAQ SECTION  */

.faq {
  margin-top: 100px;
  padding: 50px 0;
  background-color: #272a3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq > h1 {
  font-size: clamp(1.4rem, calc(6vw - 6px), 2.5rem);
  margin-bottom: 12px;
  font-weight: 500;
  color: #fff;
  line-height: clamp(1.4rem, calc(6vw - 6px), 2.5rem);
}

/* Responsive Design */

@media (max-width: 992px) {
  .topBody {
    margin-top: 100px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }

  /* .modelSection {
      grid-template-columns: 1fr 2fr;
    } */

  .wave-img {
    bottom: 0px !important;
  }

  .gifimg {
    width: 70% !important;
  }
}

@media (max-width: 650px) {
  .topBody img {
    width: 100%;
  }
  .models {
    grid-template-columns: 1fr 1fr;
  }
  .gifimg {
    width: 90% !important;
  }
}

@media (max-width: 575px) {
  .modelSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 20px 0;
  }
}
